github "sberrevoets/SDCAlertView"
github "konkab/AlamofireNetworkActivityLogger"
github "xmartlabs/XLPagerTabStrip"
github "eggswift/ESTabBarController"
git "https://github.com/Moya/Moya" "12.0.0-beta.1"
github "onevcat/Kingfisher"
git "https://github.com/alibaba/HandyJSON" "4.2.0-beta1"
github "ReSwift/ReSwift"
github "ArtSabintsev/Guitar"
github "optonaut/ActiveLabel.swift"
git "https://github.com/apollographql/apollo-ios" "master"
github "yannickl/AwaitKit"
git "https://github.com/phpmaple/BeareadToast" "master"
github "rushisangani/BiometricAuthentication"
github "nixzhu/Proposer"
github "krzyzanowskim/CryptoSwift"
github "SwiftyJSON/SwiftyJSON" ~> 4.0
github "Hearst-DD/ObjectMapper" ~> 3.4
github "ra1028/DifferenceKit"

git "https://github.com/fxwx23/JSONRPCKit" "xcode10-swift4.2"
github "ashleymills/Reachability.swift"
git "https://github.com/radex/SwiftyUserDefaults" "4.0.0-alpha.1"
git "https://github.com/hackiftekhar/IQKeyboardManager" "v6.1.1"
github "vadymmarkov/Fakery"
github "marmelroy/Localize-Swift"
github "Nirma/UIFontComplete"
github "malcommac/Repeat"
github "MoZhouqi/KMNavigationBarTransition"
github "IcaliaLabs/Presentr"
github "EyreFree/EFQRCode"
github "KennethTsang/GrowingTextView" ~> 0.6

github "SwifterSwift/SwifterSwift"
github "jiecao-fm/SwiftTheme"
github "mac-cain13/R.swift.Library"
github "roberthein/TinyConstraints"
github "malcommac/SwiftRichString"
github "exyte/Macaw"
github "xmartlabs/XLActionController" ~> 4.0
github "eggswift/pull-to-refresh"
github "WenchaoD/FSPagerView"
github "Ekhoo/Device" ~> 3.1.2
github "kishikawakatsumi/UICKeyChainStore"
github "youngsoft/TangramKit"
binary "https://cybexdex.github.io/cybex-ios-core-cpp/Carthage/iOS/cybex-ios-core-cpp.json"