github "sberrevoets/SDCAlertView"
github "xmartlabs/XLPagerTabStrip"
github "eggswift/ESTabBarController"
github "onevcat/Kingfisher"
github "alibaba/HandyJSON" "dev_for_swift5.0"
github "ReSwift/ReSwift"
github "ArtSabintsev/Guitar"
github "optonaut/ActiveLabel.swift"
git "https://github.com/apollographql/apollo-ios" "master"
github "rushisangani/BiometricAuthentication"
github "nixzhu/Proposer"
github "SwiftyJSON/SwiftyJSON"
github "ra1028/DifferenceKit"
github "ReactiveX/RxSwift"
github "attaswift/BigInt"

git "https://github.com/fxwx23/JSONRPCKit" "xcode10-swift4.2"
github "ashleymills/Reachability.swift"
git "https://github.com/radex/SwiftyUserDefaults" "4.0.0-beta.2"
github "hackiftekhar/IQKeyboardManager"
github "vadymmarkov/Fakery"
github "marmelroy/Localize-Swift"
github "Nirma/UIFontComplete"
github "malcommac/Repeat"
github "MoZhouqi/KMNavigationBarTransition"
github "IcaliaLabs/Presentr"
github "EyreFree/EFQRCode"
github "KennethTsang/GrowingTextView"

github "SwifterSwift/SwifterSwift"
github "jiecao-fm/SwiftTheme"
github "mac-cain13/R.swift.Library"
github "roberthein/TinyConstraints"
github "malcommac/SwiftRichString"
github "exyte/Macaw"
github "xmartlabs/XLActionController"
github "eggswift/pull-to-refresh"
github "WenchaoD/FSPagerView"
github "Ekhoo/Device"
github "kishikawakatsumi/UICKeyChainStore"
github "youngsoft/TangramKit"
github "texturegroup/texture" "master"
github "pinterest/PINOperation"
github "Lision/WKWebViewJavascriptBridge"
github "Daltron/NotificationBanner" "master"
github "ninjaprox/NVActivityIndicatorView"
github "AliSoftware/Reusable"
github "mxcl/PromiseKit"
github "Moya/Moya" "development"
github "krzyzanowskim/CryptoSwift"
binary "https://cybexdex.github.io/cybex-ios-core-cpp/Carthage/iOS/cybex-ios-core-cpp.json"
#github "matterinc/web3swift" "carthage"
github "getsentry/sentry-cocoa" "3.13.1"